.background--lines--1 {
  background-image: url('../resources_common/lines_1.svg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 200px;
}

.background--lines--2 {
  background-image: url('../resources_common/lines_2.svg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 400px;
}
